html,body, .main{
height:100%;
width:100%;
overflow:hidden;
margin:0;
padding:0;
background-color:#000000;
font-family:Ubuntu,Varela Round,Verdana ,Droid Sans,Helvetica ,sans-serif;
user-select:none;
}
h1,h2,h3,h4,h5,h6{
cursor:default;
user-select:none;
}
Button:hover{
    background:#008000;
}
Button:focus{
outline:none;
}
.navbar{
position:absolute;
bottom:0;
width:100%;
color:#FFFFFF;
background-color:#000000;
/*opacity:0.75;*/
font-weight:400;
font-size:25px;
padding:10px 0;
-webkit-transition: all 0.4s cubic-bezier(0.71,0,0.42,0.99);
-moz-transition: all 0.4s cubic-bezier(0.71,0,0.42,0.99);
-o-transition: all 0.4s cubic-bezier(0.71,0,0.42,0.99);
transition: all 0.4s cubic-bezier(0.71,0,0.42,0.99);
}
.navbar.active{
bottom:-50px;

}
.title{
float:left;
margin-left:30px;
}
.link{
float:left;
margin-right:30px;
}
a{
padding:0 10px;
text-decoration:none;
color:#FFFFFF;
}
.navbarBtn{
cursor:pointer;
padding:8px 16px;
border:solid;
border-radius:30px;
border-width:2px;
border-style:solid;
border-color:#00FF00;
background-color:transparent;
font-size:15px;
color:#FFFFFF;
margin: 0 15px 0 0;

}
.navbarImg{
width:120px;
margin:0 15px -10px 20px;
}
/*sidebar*/

.sideBarBtn{
z-index:100;
padding:0 8px 0 10px;
position:fixed;
margin-right:10px;
height:20%;
top:40%;
right:-5%;
background-color:transparent;
cursor:pointer;
border:solid 1px #00FF00;
-webkit-transition: all 0.4s cubic-bezier(0.71,0,0.42,0.99);
-moz-transition: all 0.4s cubic-bezier(0.71,0,0.42,0.99);
-o-transition: all 0.4s cubic-bezier(0.71,0,0.42,0.99);
transition: all 0.4s cubic-bezier(0.71,0,0.42,0.99);
}
.sideBarBtn.active{
right:20%;
}
.sideBarBar{
width:20px;
height:4px;
background-color:#FFFFFF;
margin-bottom:3px;
display:block;
}
.sideBarBar{
position:relative;
top:46%;
-webkit-transition: all 0.4s cubic-bezier(0.71,0,0.42,0.99);
-moz-transition: all 0.4s cubic-bezier(0.71,0,0.42,0.99);
-o-transition: all 0.4s cubic-bezier(0.71,0,0.42,0.99);
transition: all 0.4s cubic-bezier(0.71,0,0.42,0.99);
}
.sideBarBtn .sideBarBar:first-child{
transform:rotate(-45deg);
}
.sideBarBtn .sideBarBar:nth-child(2){
opacity:0;
}
.sideBarBtn .sideBarBar:nth-child(3){
transform:rotate(45deg);
}
.sideBarBtn.active .sideBarBar:first-child{
transform:rotate(45deg);
}
.sideBarBtn.active .sideBarBar:nth-child(2){
opacity:0;
}
.sideBarBtn.active .sideBarBar:nth-child(3){
transform:rotate(-45deg);
}
.sidePanel{
z-index:99;
height:80%;
width:20%;
/*max-width:380px;*/
position:fixed;
top:10%;
right:-25%;
background-color:transparent;
-webkit-transition: all 0.4s cubic-bezier(0.71,0,0.42,0.99);
-moz-transition: all 0.4s cubic-bezier(0.71,0,0.42,0.99);
-o-transition: all 0.4s cubic-bezier(0.71,0,0.42,0.99);
transition: all 0.4s cubic-bezier(0.71,0,0.42,0.99);
}
.sidePanel.active{
right:0%;
}
.wordListAll{
height:80%;
}
.sidePanelTitle{
color:#FFFFFF;
text-align:center;
margin:10px;
font-size:22px;
}
.wordListContainer{
height:300px;
margin:0 5px 0 5px;
overflow-y:scroll;
}
.wordListContainer > *{
    margin:0 5px;
}
.sidePanelBtn{
cursor:pointer;
padding:8px 16px;
border:solid;
border-radius:30px;
border-width:2px;
border-style:solid;
border-color:#00FF00;
background-color:transparent;
font-size:15px;
color:#FFFFFF;
margin: 0 5px;
}
.enterBtn{
    padding:6px 16px;
}
.draggable-element {
position:relative;
height:100%;
width:100%;
background:rgba(0,100,255,0.6);
display:inline-flex;
}
.draggable-handle {
width:85%;
cursor: move;
color: white;
font-size: 20px;
padding:7px 25px 7px 10px;
overflow-wrap:break-word;
}
.draggable-remove{
position:relative;
width:15%;
background-color: #990000;
float:right;
cursor:pointer;
}
span.colorBox{
border:1px;
border-style:solid;
border-radius:5px;
border-color:#000000;
position:absolute;
background-color:#FFFFFF;
top:8px;
right:35px;
width:25px;
height:25px;
cursor:pointer;
}
.img-remove{
position:absolute;
margin:5px 5px 0 0;
top:0;
right:0;
width:25px;
height:25px;
cursor:pointer;
}
.draggable-item{
}
.react-reorderable-item {
display:block;
width:100%;
margin: 5px 0 5px 0;
}
.react-reorderable-item-active {
font-size:15px;
border: 2px dashed #666;
margin-left:-2px;
background: none;
}
.react-reorderable-item-active * {
opacity:0;
}
.react-reorderable-handle {
position: absolute;
}

#word-inputform{
    margin: 0 10px;
}
.word-input{
max-width:50%;
margin-right:5px;
height:25px;
border-radius:10px;
margin-top:15px;
padding: 0 10px;
font-size:16px;
}
.word-input:focus{
outline:none;
}

.showWord{
position:fixed;
width:100%;
bottom:5%;
text-align:center;
color:#FFFFFF;
opacity:0;
-webkit-transition: all 0.5s cubic-bezier(0.71,0,0.42,0.99);
-moz-transition: all 0.5s cubic-bezier(0.71,0,0.42,0.99);
-o-transition: all 0.5s cubic-bezier(0.71,0,0.42,0.99);
transition: all 0.5s cubic-bezier(0.71,0,0.42,0.99);
}
.showWord.active{
opacity:1;
}
.time-second{
position:absolute;
width:100%;
height:180px;
margin:-90px 0 0 0;
text-align:center;
color:#FFFFFF;
font-size:150px;
font-weight:400;
top:50%;
opacity:0;
-webkit-transition: all 0.8s cubic-bezier(0.71,0,0.42,0.99);
-moz-transition: all 0.8s cubic-bezier(0.71,0,0.42,0.99);
-o-transition: all 0.8s cubic-bezier(0.71,0,0.42,0.99);
transition: all 0.8s cubic-bezier(0.71,0,0.42,0.99);
}
.time-second.active{
opacity:1;
}
.time-second.hide{
display:none;
}

.startActionInstruction{
margin:20px;
position:absolute;
top:0;
left:0;
}
.startActionInstruction > *{
display:none;
}
.startActionInstruction > *.active{
display:inline;
}
.img-rec{
width:66px;
height:21px;
}
.img-pause{
width:100px;
height:21px;
display:inline
}
.startActionInstruction > *.pause{
display:none;
}
.modal{
position:absolute;
top:0;
left:0;
visibility:hidden;
min-height:100%;
width:100%;
z-index:-100;
background-color:#000000;
}
.modal.active{
z-index:100;
visibility:visible;
}
.centerShowWords{
position:absolute;
width:100%;
height:100px;
margin:-70px 0 0 0;
text-align:center;
color:#FFFFFF;
font-size:80px;
font-weight:400;
top:50%;
opacity:0;
-webkit-transition: all 0.5s cubic-bezier(0.71,0,0.42,0.99);
-moz-transition: all 0.5s cubic-bezier(0.71,0,0.42,0.99);
-o-transition: all 0.5s cubic-bezier(0.71,0,0.42,0.99);
transition: all 0.5s cubic-bezier(0.71,0,0.42,0.99);
}
.centerShowWords.active{
opacity:1;
}

/*----------dialog-----------*/
.dialog{
transform:scale(0,0);
opacity:0;
-webkit-transition: all 0.5s cubic-bezier(0.71,0,0.42,0.99);
-moz-transition: all 0.5s cubic-bezier(0.71,0,0.42,0.99);
-o-transition: all 0.5s cubic-bezier(0.71,0,0.42,0.99);
transition: all 0.5s cubic-bezier(0.71,0,0.42,0.99);
}
.dialog.active{
z-index:100000;
transform:scale(1,1);
opacity:1;
}
.dialogSave{
position:absolute;
width:1000px;
height:180px;
background-color:transparent;
z-index:-100;
display:inline;
top:40%;
margin-top:-120px;
left:50%;
margin-left:-500px;
}

.dialogTitle{
/*width:100%;*/
text-align:center;
color:#FFFFFF;
font-size:40px;
font-weight:200;
margin-bottom:10px;
}
.dialogBtnDiv{
position:relative;
width:100%;
height:30px;
top:60px;
text-align:center;
}
.optionBtn{
width:130px;
height:50px;
border-radius:30px;
border-width:2px;
border-style:solid;
border-color:#00FF00;
background-color:transparent;
display:inline;
margin:0 20px 0 20px;
font-size:20px;
color:#FFFFFF;
cursor:pointer;
padding: 10px 20px;
}
.optionBtn.hide{
    display:none;
}


.dialogLoad{
position:absolute;
background-color:transparent;
z-index:-100;
display:inline;
top:40%;
margin-top:-120px;
left:50%;
margin-left:-275px;
width:550px;
height:180px;
}
.dialogLoadTitle{
margin:10px;
}
.dialogLoadSmallTitle{
width:100%;
text-align:left;
color:#FFFFFF;
font-size:28px;
font-weight:200;
margin:10px 0 0 0;
}
.dialogLoadRemoteTitle{
margin:-50px 0 0 0;
}
.dialogLoad-inputform{
    padding: 0 0 0 50px;
    display:flex;
}
.dialogLoadWord{
width:150px;
text-align:left;
color:#FFFFFF;
font-size:25px;
font-weight:200;
margin:10px 0 5px 0;
}
.dialogLoadWord.dialogLoadNoFile{
color:#666666;
}
#cardName-input, #password-input{
    margin:8px 0 0 0;
}
.dialogLoadLocalWord{
    width:400px;
}
.dialogLoadBtn{
border-radius:30px;
border-width:2px;
border-style:solid;
border-color:#00FF00;
background-color:transparent;
font-size:20px;
color:#FFFFFF;
cursor:pointer;
padding: 7px 14px;
width:100px;
height:40px;
display:inline;
}
.dialogLoadRemoteBtn{
transform:translate(449px,50px);
}
.dialogLoadLocalBtn{
margin:4px 0 0 0;
}
.dialogLoadLocalBtn.dialogLoadNoFile{
display:none;
}
.dialogLoadQuitBtn{
position:relative;
left:50%;
margin:10px 0 0 -41px;
}

.dialogUpload{
position:absolute;
background-color:transparent;
z-index:-100;
display:inline;
top:40%;
margin-top:-120px;
left:50%;
margin-left:-275px;
width:550px;
height:180px;
}
.dialogUploadTitle{
margin:10px;
}
.dialogUploadSpan{
width:400px;
position:relative;
left:50%;
margin-left:-200px;
white-space:nowrap;
display:flex;
margin-top:5px;
}
.dialogUploadBtnSpan{
width:340px;
position:relative;
left:50%;
margin-left:-170px;
}
.dialogUploadBtn{
border-radius:30px;
border-width:2px;
border-style:solid;
border-color:#00FF00;
background-color:transparent;
font-size:18px;
color:#FFFFFF;
cursor:pointer;
padding: 7px 14px;
width:150px;
height:45px;
margin:30px 10px;
}
.dialogUploadWord{
width:150px;
text-align:left;
color:#FFFFFF;
font-size:25px;
font-weight:200;
margin:10px 30px 5px 0;
}
#uploadCardName-input, #uploadPassword-input{
    margin:8px 0 0 0;
}
.dialogReplay{
position:absolute;
width:500px;
height:180px;
background-color:transparent;
z-index:-100;
display:inline;
top:40%;
margin-top:-120px;
left:50%;
margin-left:-250px;
}
.dialogAbout{
position:absolute;
background-color:transparent;
z-index:-100;
display:inline;
top:40%;
margin-top:-80px;
left:50%;
margin-left:-200px;
width:400px;
height:180px;
}
.dialogAboutBtn{
border-radius:30px;
border-width:2px;
border-style:solid;
border-color:#00FF00;
background-color:transparent;
font-size:20px;
color:#FFFFFF;
cursor:pointer;
padding: 7px 14px;
width:100px;
height:40px;
display:inline;
}
.dialogAboutQuitBtn{
position:relative;
left:50%;
margin:30px 0 0 -50px;
}
.dialogAboutTitle{
width:30%;
text-align:left;
color:#FFFFFF;
font-size:28px;
font-weight:200;
margin:10px 0 0 0;
}
.dialogAboutBigTitle{
width:100%;
text-align:center;
}
.dialogAboutContent{
width:30%;
padding:0 10px;
text-align:left;
color:#FFFFFF;
font-size:20px;
font-weight:200;
margin:13px 0 0 0;
}
.dialogAboutLink{
color:#0083FF;
font-size:20px;
margin-top:13px;
}
.dialogAboutLink:hover{
color:#FFFFFF;
}
.dialogAboutSpan{
width:400px;
position:relative;
left:50%;
margin-left:-150px;
white-space:nowrap;
display:flex;
margin-top:5px;
}
.dialogHelp{
position:absolute;
background-color:transparent;
z-index:-100;
display:inline;
top:40%;
margin-top:-150px;
left:50%;
margin-left:-300px;
width:600px;
height:180px;
}
.dialogHelpWords{
color:#FFFFFF;
font-size:20px;
font-weight:200;

}
.dialogHelpQuitBtn{
position:relative;
left:50%;
margin:50px 0 0 -50px;
}
.dialogHint{
position:absolute;
background-color:transparent;
z-index:-100;
display:inline;
top:40%;
margin-top:-120px;
left:50%;
margin-left:-300px;
width:600px;
height:180px;
}
/*----------dialog-----------*/
.settingWordDiv{
margin:20px;
position:absolute;
bottom:0;
right:0;

}
.settingWordDiv *{  
font-size:20px;
color:#333333;
display:inline;

}

.settingWord{
font-size:20px;
color:#333333;
display:inline;
}
.settingWord.hide{
display:none;
}

.settingWord.active{
color:#FF0000;
font-size:19px;
}

.settingWord:nth-child(3),.settingWord:nth-child(8){
color:#999999;
font-size:20px;
margin:0 2px;
}
.settingWord:nth-child(4),.settingWord:nth-child(9),.settingWord:nth-child(11){
margin-right:20px;
}
.settingWord:nth-child(6){
margin-right:10px;
}

.settingWord.settingWordKey{

border-radius:5px;
border-width:2px;
border-style:solid;
border-color:#00FF00;
color:#FFFFFF;
padding:5px 10px;
margin-right:5px;
}
